@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CFT ESTATAL ARICA Y PARINACOTA</h1>
    <p><h2>Observe la lista de los estudiantes y asignaturas ingresadas</h2></p>
    <img src="~/css/logo_fix.jpg" height="200" width="300" />
    <p> <a href="http://localhost:5068/Asignaturas" class="btn btn-danger">Asignatura</a></p>
    <p> <a href="http://localhost:5068/Estudiantes" class="btn btn-success">Estudiante</a></></p>
    <p> <a href="http://localhost:5068/Notas" class="btn btn-warning">Notas</a></></p>
    <p> <a href="http://localhost:5068/AsignaturaAsignadas" class="btn btn-info">Asignar Asignaturas</a></></p>
</div>
